.App {
    text-align: center;
    .App-header {
        background-color: #282c34;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
        position: fixed;
        width: 100%;
        .input-group {
            width: 40%;
        }
        input {
            padding: 10px;
            width: 300px;
            border: none;
        }
        .btn-secondary {
            padding: 10px;
            border: none;
            background-color: #fff;
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
        }
        .btn-secondary:hover {
            padding: 10px;
            border: none;
            background-color: #899543;
        }
        .btn-primary {
            padding: 10px;
            color: #fff;
            background-color: transparent;
            font-weight: bold;
            border: none;
            margin-left: 20px;
        }
        .btn-primary:hover {
            background-color: #45464b;
            border-radius: 5px;
        }
        p {
            color: #899543;
            font-size: 14px;
        }
    }
}

:focus-visible {
    outline: none;
}

.App-body {
    background-color: #1e2126;
    padding: 40px;
    padding-top: 150px;
    text-align: left;
    min-height: 100vh;
    h2 {
        color: #899543;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn {
        margin-right: 10px;
        padding: 10px;
        width: 200px;
        border-radius: 5px;
    }
    .btn-primary-solid {
        background-color: #899543;
        color: #fff;
        border: 1px solid #899543;
    }
    .btn-primary-outlined {
        color: #899543;
        background-color: transparent;
        border: 1px solid #899543;
    }
    ul {
        color: #fff;
    }
}

.list-view {
    color: #fff;
    text-align: left;
    width: 100%;
    .list-grid {
        background-color: #45464b;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 250px 1fr 1fr 1fr;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
    }
}

.text-sm {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    .grid {
        padding: 20px;
        background-color: #45464b;
        border-radius: 10px;
        div {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding: 5px 0px;
        }
        div:first-child {
            border-bottom: none;
            padding: 0px;
        }
        .image-container {
            width: 100%;
            min-height: 445px;
        }
    }
}

.movie-modal {
    .modal-header {
        display: block;
        justify-content: space-between;
    }
    .flex-info {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }
    .btn-primary-outlined {
        color: #899543;
        background-color: transparent;
        border: 1px solid #899543;
        padding: 2px 5px;
        font-size: 14px;
        font-weight: normal;
        margin-right: 10px;
    }
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

@media screen and (max-width: 600px) {
    .App-header {
        padding-top: 20px;
        .input-group {
            width: 90% !important;
        }
    }
    .App-body {
        padding: 10px;
        padding-top: 120px;
        .list-view {
            .list-grid {
                display: grid;
                grid-template-columns: 120px 1fr 1fr 1fr !important;
                column-gap: 5px;
                padding: 5px;
                font-size: 14px;
                img {
                    width: 100px !important;
                }
            }
        }
        .btn {
            width: 160px;
        }
        .grid-view {
            grid-template-columns: 1fr 1fr;
            column-gap: 5px;
            row-gap: 5px;
            font-size: 14px;
            .grid {
                padding: 10px;
                .image-container {
                    min-height: 240px;
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .App-header {
        padding-top: 20px;
        .input-group {
            width: 90% !important;
        }
    }
    .App-body {
        .list-view {
            .list-grid {
                display: grid;
                grid-template-columns: 120px 1fr 1fr 1fr !important;
                padding: 5px;
                font-size: 14px;
                img {
                    width: 100px !important;
                }
            }
        }
        .grid-view {
            .grid {
                padding: 10px;
                .image-container {
                    min-height: 240px;
                }
            }
        }
    }
}